@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --text_color_white: #fff;
    --color_violet: #6f2cff;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--text_color_white);
    height: 100%;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
.button {
    color: var(--text_color_white);
    background-color: var(--color_violet);
    border: none;
    border-radius: 20px;
    padding: 13px 38px;
}
.button:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all .3s;
}
/*---------------------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px auto 15px;
}
.header__nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
}
.header__nav_li {
    list-style: none;
}
.header__nav_li a {
    text-decoration: none;
    color: #1c1c1c;
    position: relative;
}
.header__nav_li a::before {
    width: 0;
    content: '';
	position: absolute;
	left: 0;
    bottom: -3px;
	height: 1px;
	background-color: var(--color_violet);
}
.header__nav_li a:hover:before {
	width: 100%;
}
.header__nav_li a::before {
	transition: width 0.35s;
}

/*---------------------------------------------------*/
.first__section {
    background-color: #f6bed9;
    padding: 59px 0;
}
.first__section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first__box {
    width: 472px;
    margin: 59px 0;
}
.first__box h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    color: #000;
}
.first__box h1 span {
    color: var(--color_violet);
}
.first__desc {
    font-size: 18px;
    line-height: 30px;
    color: #000;
    margin: 18px auto;
}
.first__box form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first__box form input {
    width: 268px;
    height: 45px;
    background: var(--text_color_white);
    border: 1px solid var(--color_violet);
    border-radius: 28px;
    padding-left: 26px;
    outline: none;
}
.first__box form input::placeholder {
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

/*---------------------------------------------------*/
.second__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 136px auto;
}
.second__section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #1c1c1c;
    max-width: 415px;
}
.second__boxes {
    display: flex;
    gap: 34px;
}
.box__item {
    max-width: 333px;
    text-align: center;
    background: var(--text_color_white);
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
    cursor: pointer;
}
.box__item:hover {
    box-shadow: 0px 4px 6px rgba(192, 192, 192, 0.8);
    transition: all 0.3s;
}
.box__item img {
    height: 205px;
    border-radius: 7px 7px 0 0;
}
.box__title {
    margin: 54px auto 27px auto;
}
.box__title h3 {
    font-size: 26px;
    line-height: 22px;
}
.box__desc {
    max-width: 219px;
    margin: 0 auto 82px auto;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--color_violet);
}

/*---------------------------------------------------*/
.footer {
    background-color: #20003C;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 157px;
}
.footer__nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 74px;
}
.footer__nav {
    list-style: none;
}
.footer__nav_li a {
    text-decoration: none;
    color: var(--text_color_white);
    position: relative;
}
.footer__nav_li a::before {
    width: 0;
    content: '';
	position: absolute;
	left: 0;
    bottom: -3px;
	width: 0;
	height: 1px;
	background-color: var(--text_color_white);
}
.footer__nav_li a:hover:before {
	width: 100%;
}
.footer__nav_li a::before {
	transition: width 0.35s;
}


